section{
    padding: 100px 30px;
    display: flex;
    align-items: center;
}
section h2{
    font-size: 32px;
    margin-bottom: 20px;
    display: flex;
    width: 200px;
    align-items: center;
}
section hr{
    height: 30vh;
    border: solid rgb(139, 213, 250) 2px;
    margin: 0 20px;
}
section img{
    width: 400px;
    margin: 0 20px;
    background-color: #6eaff0;
    border-radius: 1rem;
    box-shadow: #1d3144 10px 10px 5px;
    padding: .2rem;
}
section p{
    font-size: 18px;
    line-height: 1.6;
    max-width: 100%;
    width: 100%;
}
section a{
    background-color: #1d3144;
    color: wheat;
    text-align: center;
    padding: 15px;
    border-radius: 1.3rem;
    text-decoration: none;
    font-weight: bold;
    border-bottom: #6eaff0 4px solid;
    border-right: #6eaff0 4px solid;
    transition: .2s;
    margin-left: 10px;
}
section a:hover{
    background-color: #345879;
    border-bottom: #73b8fc 4px solid;
    border-right: #73b8fc 4px solid;
    scale: 0.95;   
}
section a:active{
    background-color: #b4d7fa;
    border-bottom: #7cbbc5 4px solid;
    border-right: #7cbbc5 4px solid;
    color: black;
}
section p{
    text-align: justify;
}
footer{
    text-align: center;
    margin-top: 10px;
    font-size: 10px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    margin: 10px;
}
footer a{
    text-decoration: none;
}

#inicio{
    background: #f4f4f4;
}

#historia{
    background: #e8e8e8;
}
#oferta{
    background-color: #dcdcdc;
}
#contacto{
    background: #d0d0d0;
}