section img{
    height: 90vh;
    width: 100%;
    margin-bottom: 20px;
    transition: 0.1s linear;
}
section{
    text-align: center;
}
section h2{
    font-weight: bold;
    transition:0.1s linear;
    margin-bottom: 20px;
    height: 50vh;
}